<!-- content -->


<div class="content print">

	<div class="container">
		<div class="row">
			<div class="col-sm-8 noprint">
				<div class="home-banner">
					<img class="background" src="https://dtm.uz/upload/file/setting/Banner.png" alt="banner">
					<div id="w0" class="slider">
						<div class="item"><a href="/info/dir-subject">Ta’lim yo‘nalishga mos fanlar majmuasi</a>
						</div>
						<div class="item"><a href="/page/dtmxizmatbot">e-Sinov tizimi</a></div>
						<div class="item"><a href="/info/quota">2019/2020-o‘quv yili uchun qabul rejasi</a></div>
						<div class="item"><a href="/info/textbooks">Tasdiqlangan darsliklar ro‘yxati</a></div>
						<div class="item"><a href="/page/faq">Savol va javob</a></div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<ul class="service-list list-unstyled">
					<li><a href="https://abitur.dtm.uz/"><img src="https://dtm.uz/upload/file/menu/service/sr-abitr.png"
								alt="service"><span>Shaxsiy kabinet</span></a></li>
					<li><a href="/page/qabul_2020_2021"><img src="https://dtm.uz/upload/file/menu/service/preptest.png"
								alt="service"><span>Qabul
								2020/2021</span></a></li>
					<li><a href="https://dtm.uz/info/passing-scores2020"><img
								src="https://dtm.uz/upload/file/menu/service/line-chart.png"
								alt="service"><span>2020-2021 o'quv yili uchun o'tish ballari</span></a></li>
					<li><a href="https://dtm.uz/info/imtiyoz-ball"><img
								src="https://dtm.uz/upload/file/menu/service/PinClipart.png"
								alt="service"><span>2020-2021 o'quv yili uchun imtiyoz o'tish ballari</span></a>
					</li>
					<li><a href="page/chet_tili"><img src="https://dtm.uz/upload/file/menu/sites/logo_dtm_nsfla.png"
								alt="service"><span>Chet tili boshqarmasi</span></a></li>
					<li><a href="/page/useful_information"><img src="https://dtm.uz//upload/file/menu/service/info.png"
								alt="service"><span>Foydali
								ma`lumotlar</span></a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="block posts">
		<div class="container">
			<h2 class="name">Yangiliklar</h2>
			<div class="body">

				<a class="btn btn-default all-post" href="/post/category/news">Barchasi</a>
				<ul class="list-unstyled tab-menu">
					<li class="active"><a data-toggle="pill" href="#tabNews">Yangiliklar</a></li>
					<li><a data-toggle="pill" href="#tabTender">Tenderlar</a></li>
					<li><a data-toggle="pill" href="#tabPoll">Statistika</a></li>
				</ul>

				<div class="tab-content">
					<div id="tabNews" class="tab-pane fade in active">
						<div class="row">
							<div class="col-sm-4 post">
								<a class="title"
									href="/post/view/apellatsiya-shikoyatlarini-ko-rib-chiqishning-o-n-sakkizinchi-kuni-yakunlandi"
									title="Apellatsiya shikoyatlarini ko‘rib chiqishning o‘n sakkizinchi kuni yakunlandi"><img
										src="https://dtm.uz/upload/file/post/news/Icon/test.jpg"
										alt="news"><br><span>Apellatsiya
										shikoyatlarini ko‘rib chiqishning o‘n sakkizinchi kuni yakunlandi</span></a>
								<p>Davlat test markazida 19-oktabr kuniga belgilangan apellatsiya shikoyatlarini
									ko‘rib chiqish jarayoni yakunlandi.</p>
								<a class="btn btn-default"
									href="/post/view/apellatsiya-shikoyatlarini-ko-rib-chiqishning-o-n-sakkizinchi-kuni-yakunlandi">Batafsil</a>
								<span class="pull-right date">
									<i class="fa fa-calendar"></i> 19-10-2020 </span>
							</div>
							<div class="col-sm-4 post">
								<a class="title"
									href="/post/view/umumta-lim-fanlarini-bilish-darajasini-baholashning-milliy-test-tizimi"
									title="Umumta’lim fanlarini bilish darajasini baholashning milliy test tizimi"><img
										src="https://dtm.uz/upload/file/post/news/Icon/qaror.jpg"
										alt="news"><br><span>Umumta’lim
										fanlarini bilish darajasini baholashning milliy test tizimi</span></a>
								<p>Umumta’lim fanlarini bilish darajasini baholashning milliy test tizimi.</p>
								<a class="btn btn-default"
									href="/post/view/umumta-lim-fanlarini-bilish-darajasini-baholashning-milliy-test-tizimi">Batafsil</a>
								<span class="pull-right date">
									<i class="fa fa-calendar"></i> 19-10-2020 </span>
							</div>
							<div class="col-sm-4 post">
								<a class="title"
									href="/post/view/apellatsiya-shikoyatlarini-ko-rib-chiqishning-o-n-yettinchi-kuni-yakunlandi"
									title="Apellatsiya shikoyatlarini ko‘rib chiqishning o‘n yettinchi kuni yakunlandi"><img
										src="/upload/file/post/news/Icon/exam3.jpg" alt="news"><br><span>Apellatsiya
										shikoyatlarini ko‘rib chiqishning o‘n yettinchi kuni yakunlandi</span></a>
								<p>Davlat test markazida 17-oktabr kuniga belgilangan apellatsiya shikoyatlarini
									ko‘rib chiqish jarayoni yakunlandi.</p>
								<a class="btn btn-default"
									href="/post/view/apellatsiya-shikoyatlarini-ko-rib-chiqishning-o-n-yettinchi-kuni-yakunlandi">Batafsil</a>
								<span class="pull-right date">
									<i class="fa fa-calendar"></i> 17-10-2020 </span>
							</div>
						</div>
					</div>
					<div id="tabTender" class="tab-pane fade">
						<div class="row">
							<div class="col-sm-4 post">
								<a class="title" href="/post/view/e-lon-12" title="E`lon"><img
										src="https://dtm.uz/upload/file/post/news/05.03.2019/maklatura.jpg"
										alt="tender"><br><span>E`lon</span></a>
								<p>Saqlanish muddati yakunlangan arxiv hujjatlarini o‘rnatilgan tartibda yo‘q qilish
									maqsadida ikkilamchi xom ashyoni qayta ishlash korxonalariga sotish to‘g‘risida
									tanlov e’lon qilinadi.</p>
								<a class="btn btn-default" href="/post/view/e-lon-12">Batafsil</a> <span
									class="pull-right date">
									<i class="fa fa-clock-o"></i> 10-03-2020 </span>
							</div>
							<div class="col-sm-4 post">
								<a class="title" href="/post/view/yetkazib-beruvchilar-va-kompaniyalar-rahbarlariga"
									title="Yetkazib beruvchilar va kompaniyalar rahbarlariga"><img
										src="/upload/file/post/news/dtm.jpg" alt="tender"><br><span>Yetkazib
										beruvchilar va kompaniyalar rahbarlariga</span></a>
								<p>O‘zbekiston Respublikasi Prezidentining 2019 yil 14 maydagi PQ–4319-son “Oliy
									ta’lim muassasalariga test sinovlari orqali qabul qilish tizimini
									takomillashtirish...</p>
								<a class="btn btn-default"
									href="/post/view/yetkazib-beruvchilar-va-kompaniyalar-rahbarlariga">Batafsil</a>
								<span class="pull-right date">
									<i class="fa fa-clock-o"></i> 01-06-2019 </span>
							</div>
							<div class="col-sm-4 post">
								<a class="title" href="/post/view/tashkilot-o-z-ehtiyojlari-uchun-skaner-xarid-qiladi"
									title="Tashkilot o‘z ehtiyojlari uchun skaner xarid qiladi"><img
										src="https://dtm.uz/upload/file/post/tenders/kadak-i2800.jpg"
										alt="tender"><br><span>Tashkilot o‘z ehtiyojlari uchun skaner xarid
										qiladi</span></a>
								<p>Tashkilot o‘z ehtiyojlari uchun Kodak i2800 modelidagi 60 dona skaner xarid
									qilish bo‘yicha takliflarni qabul qiladi.</p>
								<a class="btn btn-default"
									href="/post/view/tashkilot-o-z-ehtiyojlari-uchun-skaner-xarid-qiladi">Batafsil</a>
								<span class="pull-right date">
									<i class="fa fa-clock-o"></i> 24-05-2018 </span>
							</div>
						</div>
					</div>
					<div id="tabPoll" class="tab-pane fade">
						<div class="row">
							<div class="col-sm-4 post">
								<a class="title" href="/post/view/nsfla-malumot"
									title="Chet tilini bilish va egallash darajasini aniqlash test sinovlari haqida ma’lumot"><img
										src="https://dtm.uz/upload/file/post/news/Icon/nsfla.jpg"
										alt="poll"><br><span>Chet tilini
										bilish va egallash darajasini aniqlash test sinovlari haqida
										ma’lumot</span></a>
								<p>Chet tilini bilish va egallash darajasini aniqlash test sinovlari haqida ma’lumot
								</p>
								<a class="btn btn-default" href="/post/view/nsfla-malumot">Batafsil</a> <span
									class="pull-right date">
									<i class="fa fa-clock-o"></i> 28-02-2020 </span>
							</div>
							<div class="col-sm-4 post">
								<a class="title"
									href="/post/view/chet-tilini-bilish-va-egallash-darajasi-uchun-online-ariza-topshirgan-talabgorlar-statistikasi"
									title="Chet tilini bilish va egallash darajasi uchun &quot;Online ariza&quot; topshirgan talabgorlar statistikasi"><img
										src="https://dtm.uz/upload/file/post/statistics/nslfa/00.png"
										alt="poll"><br><span>Chet
										tilini bilish va egallash darajasi uchun "Online ariza" topshirgan
										talabgorlar statistikasi</span></a>
								<p>Chet tilini bilish darajasi testi uchun 13844 nafar nomzod ro‘yxatdan o‘tgan,
									jumladan nomzodlarning 9 nafari A2, 6010 nafari B1, 7731 nafari B2 va 94 nafari
									C1 daraja uchun ro‘yxatdan o‘tgan</p>
								<a class="btn btn-default"
									href="/post/view/chet-tilini-bilish-va-egallash-darajasi-uchun-online-ariza-topshirgan-talabgorlar-statistikasi">Batafsil</a>
								<span class="pull-right date">
									<i class="fa fa-clock-o"></i> 12-07-2019 </span>
							</div>
							<div class="col-sm-4 post">
								<a class="title"
									href="/post/view/akademik-litsey-va-kasb-hunar-kolleji-bitiruvchilarining-respublika-oliy-ta-lim-muassasalariga-o-qishga-kirish-ko-rsatkichlari"
									title="Akademik litsey va kasb-hunar kolleji bitiruvchilarining respublika oliy ta’lim muassasalariga oʻqishga kirish koʻrsatkichlari"><img
										src="https://dtm.uz/upload/file/post/statistics/2019/stat-6.png"
										alt="poll"><br><span>Akademik litsey va kasb-hunar kolleji
										bitiruvchilarining respublika oliy ta’lim muassasalariga oʻqishga kirish
										koʻrsatkichlari</span></a>
								<p>2018 yil Respublika oliy ta’lim muassasalarida test sinovlarida ishtirok etgan
									abituriyentlar soni va oʻrtacha ball koʻrsatkichlari</p>
								<a class="btn btn-default"
									href="/post/view/akademik-litsey-va-kasb-hunar-kolleji-bitiruvchilarining-respublika-oliy-ta-lim-muassasalariga-o-qishga-kirish-ko-rsatkichlari">Batafsil</a>
								<span class="pull-right date">
									<i class="fa fa-clock-o"></i> 26-06-2019 </span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-8 noprint">
				<div class="block map">
					<h2 class="name">Hududiy bo‘limlar</h2>
					<div class="body">
						<div class="jsmaps">
							<div class="jsmaps-wrapper" id="uzbMap"></div>
						</div>
						<input type="hidden" id="uzbMapData" name="map-data" value="{
&quot;config&quot;: {
	&quot;mapWidth&quot;: 701,
	&quot;mapHeight&quot;: 452,
	&quot;defaultText&quot;: &quot;&lt;h4&gt;Toshkent shahri&lt;/h4&gt;&lt;p&gt;Toshkent shahri, Bog`ishamol ko`chasi 12.&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998712351914&lt;br&gt;&lt;b&gt;Faks:&lt;/b&gt; +998712347184&lt;br&gt;&lt;b&gt;email:&lt;/b&gt; info@dtm.uz&lt;/p&gt;&quot;
},
&quot;pins&quot;: [
	{
		&quot;name&quot;: &quot;Toshkent shahri&quot;,
		&quot;xPos&quot;: 543,
		&quot;yPos&quot;: 228,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Toshkent shahri&lt;/h4&gt;&lt;p&gt;Toshkent shahri, Bog`ishamol ko`chasi 12.&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998712351914&lt;br&gt;&lt;b&gt;Faks:&lt;/b&gt; +998712347184&lt;br&gt;&lt;b&gt;email:&lt;/b&gt; info@dtm.uz&lt;/p&gt;&quot;
	}
],
&quot;paths&quot;: [
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Farg‘ona viloyati&quot;,
		&quot;abbreviation&quot;: &quot;FA&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Farg‘ona viloyati&lt;/h4&gt;&lt;p&gt;Shokirov Ismoilxon Ergashevich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998732448762&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M636.4,245.1 L639.5,249.1 L640.1,247.9 L646.3,248.9 L649.0,252.0 L657.9,252.4 L663.8,253.9 L664.7,259.3 L662.1,259.9 L659.5,261.7 L658.6,264.9 L654.3,268.3 L654.5,269.8 L657.2,272.1 L649.7,272.3 L647.5,276.3 L644.9,278.5 L643.4,278.5 L641.8,273.2 L640.3,273.4 L639.9,276.1 L635.0,275.3 L633.3,273.3 L630.0,271.8 L626.5,271.9 L624.6,270.9 L623.3,274.1 L617.2,274.1 L614.8,274.7 L613.5,276.4 L609.0,277.0 L603.2,279.4 L599.7,279.7 L598.0,278.7 L596.3,274.0 L594.1,272.0 L591.6,272.6 L588.6,271.7 L589.0,269.8 L587.5,266.8 L589.2,264.8 L592.0,263.9 L594.1,260.8 L602.9,252.5 L605.7,249.7 L607.9,249.5 L609.7,247.6 L613.2,248.2 L617.8,247.5 L615.5,251.3 L624.4,254.8 L625.3,254.5 L629.6,248.9 Z&quot;
	},
	{
		&quot;enable&quot;: false,
		&quot;name&quot;: &quot;Toshkent shahri&quot;,
		&quot;abbreviation&quot;: &quot;TK&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Toshkent shahri&lt;/h4&gt;&lt;p&gt;Toshkent shahri, Bog`ishamol ko`chasi 12.&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998712351914&lt;br&gt;&lt;b&gt;Faks:&lt;/b&gt; +998712347184&lt;br&gt;&lt;b&gt;email:&lt;/b&gt; info@dtm.uz&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M543.4,224.6 L538.8,229.3 L534.2,226.1 L535.3,221.7 L537.3,219.4 L542.5,220.8 L542.2,222.8 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Andijon viloyati&quot;,
		&quot;abbreviation&quot;: &quot;AN&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Andijon viloyati&lt;/h4&gt;&lt;p&gt;Tashtemirov Nizamitdin Najmiddinovich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998902541208&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M660.2,230.0 L664.2,228.4 L665.4,225.8 L667.3,227.8 L671.6,228.5 L672.2,230.7 L674.8,231.1 L678.3,234.9 L681.7,235.5 L686.9,234.4 L688.6,234.6 L688.9,237.1 L694.0,233.7 L696.3,235.3 L700.0,235.0 L699.3,237.8 L693.8,241.0 L690.5,243.7 L686.3,245.5 L685.4,250.8 L681.9,251.0 L681.6,253.5 L679.1,255.1 L676.0,253.4 L673.1,252.9 L670.1,250.4 L668.9,251.1 L669.9,255.9 L672.8,258.5 L672.6,261.2 L670.9,262.7 L666.6,261.1 L664.7,259.3 L663.8,253.9 L657.9,252.4 L649.0,252.0 L646.3,248.9 L640.1,247.9 L639.5,249.1 L636.4,245.1 L637.4,243.8 L636.2,241.2 L638.3,238.6 L642.4,237.0 L648.9,236.1 L654.4,236.8 L659.5,235.5 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Namangan viloyati&quot;,
		&quot;abbreviation&quot;: &quot;NG&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Namangan viloyati&lt;/h4&gt;&lt;p&gt;Abdulxafizov Bunyod Xakimjonovich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998972308085&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M636.4,245.1 L629.6,248.9 L625.3,254.5 L624.4,254.8 L615.5,251.3 L617.8,247.5 L613.2,248.2 L609.7,247.6 L607.9,249.5 L605.7,249.7 L602.9,252.5 L603.2,250.2 L597.7,248.9 L597.1,246.5 L600.3,247.7 L599.9,246.2 L589.2,236.3 L588.7,229.9 L586.5,227.1 L587.1,222.8 L585.6,222.3 L585.5,220.1 L587.9,215.3 L594.2,211.3 L597.2,212.3 L599.8,216.0 L600.1,221.6 L600.9,223.2 L603.2,222.4 L606.9,225.1 L611.5,224.9 L615.6,226.2 L618.2,228.7 L618.1,224.8 L619.8,224.2 L622.6,227.9 L623.9,225.5 L626.9,227.6 L627.8,224.8 L626.5,215.5 L627.2,214.9 L631.2,217.2 L633.6,215.5 L635.1,209.4 L633.1,206.2 L634.9,203.0 L636.4,203.7 L636.4,209.0 L639.7,208.1 L644.9,214.9 L645.9,221.2 L650.2,220.8 L652.7,222.6 L655.6,220.1 L658.2,221.4 L660.2,230.0 L659.5,235.5 L654.4,236.8 L648.9,236.1 L642.4,237.0 L638.3,238.6 L636.2,241.2 L637.4,243.8 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Jizzax viloyat&quot;,
		&quot;abbreviation&quot;: &quot;JI&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Jizzax viloyat&lt;/h4&gt;&lt;p&gt;Xotamov Ibrohim Mustafoyevich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998915965235&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M518.0,286.7 L515.5,287.9 L520.5,290.4 L518.3,294.1 L519.4,299.0 L519.0,304.8 L518.1,305.9 L518.2,314.6 L517.6,317.0 L514.9,319.4 L514.9,321.2 L511.6,322.5 L507.5,322.8 L504.0,321.8 L497.8,322.0 L483.3,319.0 L479.9,319.7 L476.1,322.7 L472.8,323.4 L472.4,326.6 L470.0,327.1 L464.9,323.0 L463.9,321.5 L464.1,316.8 L466.6,316.3 L466.7,311.7 L471.9,308.8 L469.8,302.7 L453.4,300.2 L451.3,296.3 L447.9,296.4 L447.8,293.4 L449.2,290.9 L447.9,288.1 L446.4,287.1 L445.1,280.3 L445.7,277.7 L444.6,274.8 L433.8,274.3 L439.5,261.8 L440.6,258.9 L439.1,256.2 L438.6,252.8 L434.9,251.9 L433.2,250.1 L432.2,242.6 L433.0,241.1 L437.9,238.6 L440.3,239.1 L478.1,235.0 L481.7,236.3 L485.8,233.7 L488.7,238.1 L490.2,242.0 L493.5,240.5 L493.0,243.4 L493.9,244.4 L492.6,251.0 L489.2,254.5 L492.4,255.6 L496.3,259.1 L500.9,261.9 L500.4,264.7 L497.2,265.9 L497.1,269.2 L499.3,269.9 L495.1,281.3 L495.8,285.4 L506.4,285.2 L518.5,281.3 L517.4,285.8 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Sirdaryo viloyat&quot;,
		&quot;abbreviation&quot;: &quot;SI&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Sirdaryo viloyat&lt;/h4&gt;&lt;p&gt;Bahromov Alisher Norboboyevich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998911004466&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M520.5,290.4 L530.0,287.9 L532.1,289.2 L532.3,292.2 L528.3,292.1 L525.6,294.0 L523.8,291.9 L524.7,296.5 L528.7,301.3 L527.2,303.4 L524.4,297.9 L523.3,297.8 L525.0,301.8 L523.6,305.7 L520.8,303.6 L519.0,304.8 L519.4,299.0 L518.3,294.1 Z M535.7,283.7 L533.4,283.1 L526.7,284.6 L524.6,285.9 L521.2,285.8 L518.0,286.7 L517.4,285.8 L518.5,281.3 L506.4,285.2 L495.8,285.4 L495.1,281.3 L499.3,269.9 L497.1,269.2 L497.2,265.9 L500.4,264.7 L500.9,261.9 L509.2,265.6 L511.7,263.6 L514.5,264.4 L515.7,260.7 L514.8,258.1 L513.0,257.3 L511.9,251.9 L512.5,247.6 L515.6,245.3 L517.8,247.1 L519.7,250.8 L522.8,251.4 L529.0,257.7 L529.3,259.5 L531.5,258.8 L530.8,260.5 L533.2,260.0 L535.6,263.1 L534.6,267.2 L536.9,270.5 L535.7,273.2 L535.2,278.2 L536.3,280.8 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Toshkent viloyat&quot;,
		&quot;abbreviation&quot;: &quot;TA&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Toshkent viloyat&lt;/h4&gt;&lt;p&gt;Toshpo`latov Begzod Ulug`murodovich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998712351914&lt;br&gt;&lt;b&gt;Faks:&lt;/b&gt; +998712347184&lt;br&gt;&lt;b&gt;email:&lt;/b&gt; vakil13@dtm.uz&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M587.9,215.3 L585.5,220.1 L585.6,222.3 L587.1,222.8 L586.5,227.1 L588.7,229.9 L589.2,236.3 L585.3,235.7 L584.6,241.5 L582.6,244.4 L575.6,248.4 L572.0,251.7 L564.6,254.7 L561.5,258.3 L558.2,259.3 L551.4,252.4 L548.3,251.1 L545.1,252.6 L543.6,255.4 L544.1,261.9 L540.9,263.4 L539.6,265.7 L541.4,268.3 L544.7,275.1 L545.0,278.9 L540.9,279.0 L541.2,280.5 L544.4,283.0 L544.5,284.3 L540.9,285.2 L535.7,283.7 L536.3,280.8 L535.2,278.2 L535.7,273.2 L536.9,270.5 L534.6,267.2 L535.6,263.1 L533.2,260.0 L530.8,260.5 L531.5,258.8 L529.3,259.5 L529.0,257.7 L522.8,251.4 L519.7,250.8 L517.8,247.1 L515.6,245.3 L518.0,243.4 L519.2,239.0 L522.9,236.3 L524.3,233.7 L526.9,233.0 L530.5,229.8 L530.8,224.6 L529.7,221.9 L536.8,216.4 L539.3,216.4 L541.4,215.1 L543.8,215.3 L543.7,211.3 L546.9,209.5 L552.5,203.9 L557.8,202.0 L563.9,200.6 L566.1,197.6 L568.3,196.6 L572.4,192.6 L574.7,187.6 L577.7,185.2 L578.7,181.9 L584.0,178.2 L586.1,179.4 L587.5,181.7 L590.6,181.3 L592.6,175.7 L594.7,171.6 L597.6,171.9 L600.5,170.6 L605.5,165.7 L608.1,165.8 L614.1,169.3 L615.5,169.7 L615.1,171.7 L610.5,174.2 L605.2,179.0 L600.0,180.2 L599.7,185.4 L598.0,187.0 L594.0,187.8 L589.1,192.4 L585.8,198.8 L581.1,202.6 L574.9,207.0 L574.2,208.5 L576.6,210.8 L582.4,210.9 Z M543.4,224.6 L542.2,222.8 L542.5,220.8 L537.3,219.4 L535.3,221.7 L534.2,226.1 L538.8,229.3 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Buxoro viloyat&quot;,
		&quot;abbreviation&quot;: &quot;BU&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Buxoro viloyat&lt;/h4&gt;&lt;p&gt;Sevinchov Ne’mat Gulboyevich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998914108221&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M342.5,360.6 L340.2,358.4 L334.6,360.4 L332.1,359.6 L314.7,347.4 L312.2,344.8 L307.6,338.6 L305.0,336.1 L268.2,309.9 L262.4,303.4 L261.1,297.7 L261.9,294.6 L260.5,290.7 L260.2,287.1 L258.8,284.0 L258.4,280.7 L251.6,276.6 L260.3,266.1 L262.4,261.5 L260.6,257.6 L254.0,250.1 L263.3,245.8 L263.2,245.0 L251.8,228.9 L266.2,223.6 L269.6,223.7 L271.9,228.4 L278.7,236.5 L284.2,246.2 L294.1,249.6 L300.4,253.1 L312.7,260.6 L315.1,264.8 L320.0,263.0 L322.9,258.7 L325.2,253.6 L327.6,251.6 L330.0,253.6 L330.3,259.0 L332.7,260.8 L343.8,261.9 L344.7,261.1 L345.8,256.2 L348.0,255.2 L353.4,254.9 L356.4,253.9 L357.7,252.0 L358.6,253.4 L360.6,261.7 L363.5,263.7 L367.5,264.6 L380.0,265.1 L381.9,264.5 L381.0,267.9 L381.1,274.3 L377.6,274.0 L375.8,279.2 L374.2,281.0 L372.9,284.9 L368.1,284.9 L364.6,283.1 L361.2,284.3 L362.3,287.9 L361.6,291.4 L363.7,293.9 L360.6,295.2 L358.7,299.2 L354.2,302.5 L350.9,308.4 L354.7,313.8 L359.7,317.2 L361.4,316.3 L367.5,319.2 L369.2,324.9 L373.1,327.6 L374.2,331.8 L368.2,337.6 L365.7,338.6 L362.6,342.1 L362.1,344.2 L364.2,347.2 L363.7,348.3 L348.8,354.3 L346.9,355.6 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Xorazm viloyat&quot;,
		&quot;abbreviation&quot;: &quot;KH&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Xorazm viloyat&lt;/h4&gt;&lt;p&gt;Yakubov Baxtiyor Sabirovich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998911909405&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M254.0,250.1 L260.6,257.6 L262.4,261.5 L260.3,266.1 L251.6,276.6 L248.9,271.6 L248.1,268.3 L245.9,265.3 L243.5,256.1 L243.1,249.1 L239.4,243.2 L230.4,236.3 L222.9,233.6 L220.5,233.9 L219.5,236.9 L215.1,241.0 L211.9,240.3 L207.8,237.3 L202.8,238.3 L200.9,236.3 L198.1,235.5 L189.9,235.8 L185.0,237.3 L182.5,237.3 L180.0,236.0 L175.4,231.8 L167.2,227.2 L165.9,224.8 L166.5,220.5 L170.4,216.8 L166.4,209.5 L166.1,207.6 L168.3,205.4 L173.2,207.2 L173.9,204.9 L170.0,201.2 L171.0,199.5 L170.4,197.5 L173.4,196.6 L176.5,194.5 L182.9,196.6 L182.9,200.2 L186.3,206.9 L190.4,208.2 L191.4,211.2 L193.7,214.6 L203.1,223.5 L205.1,224.2 L207.7,227.1 L211.7,228.4 L214.7,233.2 L218.3,233.5 L220.0,230.4 L222.0,228.8 L225.0,228.7 L232.8,230.7 L238.9,234.6 L245.7,242.3 L250.5,250.1 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Qoraqalpog‘iston Respublikasi&quot;,
		&quot;abbreviation&quot;: &quot;QR&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Qoraqalpog‘iston Respublikasi&lt;/h4&gt;&lt;p&gt;Abdullaev Muzaffar Atajanovich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998977885755&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M251.8,228.9 L263.2,245.0 L263.3,245.8 L254.0,250.1 L250.5,250.1 L245.7,242.3 L238.9,234.6 L232.8,230.7 L225.0,228.7 L222.0,228.8 L220.0,230.4 L218.3,233.5 L214.7,233.2 L211.7,228.4 L207.7,227.1 L205.1,224.2 L203.1,223.5 L193.7,214.6 L191.4,211.2 L190.4,208.2 L186.3,206.9 L182.9,200.2 L182.9,196.6 L176.5,194.5 L173.4,196.6 L170.4,197.5 L171.0,199.5 L170.0,201.2 L168.0,198.7 L161.7,197.0 L161.3,194.7 L164.5,193.7 L163.7,188.9 L164.2,186.4 L166.4,185.2 L166.1,183.5 L163.4,182.2 L159.8,177.7 L152.7,177.1 L144.2,178.1 L141.2,177.5 L139.7,175.7 L136.7,175.0 L135.1,173.4 L134.0,167.3 L130.6,163.9 L127.2,164.7 L121.6,162.9 L119.0,160.3 L111.0,149.8 L109.3,150.4 L108.5,154.9 L105.9,156.8 L101.8,156.0 L97.6,154.0 L91.4,156.4 L91.9,158.9 L98.1,162.7 L102.8,172.2 L104.9,175.1 L101.7,176.1 L100.6,175.1 L100.8,170.5 L98.6,168.0 L94.7,165.9 L90.4,165.9 L89.0,163.9 L85.7,163.9 L81.9,167.1 L82.8,170.4 L80.6,176.1 L78.0,177.8 L78.8,179.8 L70.4,181.4 L69.5,176.6 L65.9,173.5 L64.2,173.2 L60.9,170.3 L57.6,170.9 L54.3,173.0 L52.8,175.5 L46.5,192.0 L41.5,195.0 L42.0,201.4 L41.1,206.8 L42.9,211.7 L42.8,216.7 L44.8,220.7 L48.2,222.4 L44.7,224.6 L41.7,228.1 L33.0,225.6 L0.0,221.3 L16.6,23.4 L16.7,23.4 L75.3,9.5 L94.6,4.9 L115.9,0.0 L123.7,5.1 L149.5,24.3 L172.3,41.0 L209.2,67.1 L210.8,69.7 L211.6,75.1 L213.8,78.8 L222.3,88.4 L245.3,115.7 L246.9,116.4 L251.0,123.6 L253.0,125.5 L263.6,128.5 L264.0,130.0 L253.1,150.2 L242.7,169.6 L240.4,174.7 L239.4,187.0 L244.7,197.2 L235.3,202.7 L234.8,204.9 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Navoiy viloyat&quot;,
		&quot;abbreviation&quot;: &quot;NW&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Navoiy viloyat&lt;/h4&gt;&lt;p&gt;Bekniyozov Nurxon Mardonovich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998913080139&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M437.9,238.6 L433.0,241.1 L432.2,242.6 L433.2,250.1 L434.9,251.9 L438.6,252.8 L439.1,256.2 L440.6,258.9 L439.5,261.8 L433.8,274.3 L432.4,270.7 L429.5,267.7 L423.0,270.3 L419.4,268.7 L416.8,272.7 L417.6,276.2 L416.0,278.7 L416.9,286.3 L413.9,294.1 L416.6,295.3 L413.0,299.0 L404.1,301.2 L396.4,298.6 L394.6,296.5 L389.4,294.7 L388.3,295.0 L386.6,300.5 L387.7,301.5 L386.0,307.7 L382.7,308.0 L379.5,306.9 L378.4,309.1 L373.9,310.1 L373.4,311.5 L376.1,314.5 L377.5,318.9 L376.2,323.9 L379.1,330.2 L378.3,330.7 L374.2,331.8 L373.1,327.6 L369.2,324.9 L367.5,319.2 L361.4,316.3 L359.7,317.2 L354.7,313.8 L350.9,308.4 L354.2,302.5 L358.7,299.2 L360.6,295.2 L363.7,293.9 L361.6,291.4 L362.3,287.9 L361.2,284.3 L364.6,283.1 L368.1,284.9 L372.9,284.9 L374.2,281.0 L375.8,279.2 L377.6,274.0 L381.1,274.3 L381.0,267.9 L381.9,264.5 L380.0,265.1 L367.5,264.6 L363.5,263.7 L360.6,261.7 L358.6,253.4 L357.7,252.0 L356.4,253.9 L353.4,254.9 L348.0,255.2 L345.8,256.2 L344.7,261.1 L343.8,261.9 L332.7,260.8 L330.3,259.0 L330.0,253.6 L327.6,251.6 L325.2,253.6 L322.9,258.7 L320.0,263.0 L315.1,264.8 L312.7,260.6 L300.4,253.1 L294.1,249.6 L284.2,246.2 L278.7,236.5 L271.9,228.4 L269.6,223.7 L266.2,223.6 L251.8,228.9 L234.8,204.9 L235.3,202.7 L244.7,197.2 L239.4,187.0 L240.4,174.7 L242.7,169.6 L253.1,150.2 L264.0,130.0 L263.6,128.5 L253.0,125.5 L251.0,123.6 L246.9,116.4 L264.6,113.3 L293.2,108.7 L340.9,112.6 L342.3,112.2 L357.5,103.3 L360.1,102.9 L361.5,104.1 L370.2,114.8 L374.2,118.8 L384.0,125.0 L395.7,147.3 L396.4,147.3 L407.6,140.8 L406.8,170.4 L405.3,172.5 L405.7,193.5 L406.2,194.3 L425.8,193.8 L427.7,207.4 L430.8,220.6 L435.0,236.3 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Samarqand viloyat&quot;,
		&quot;abbreviation&quot;: &quot;SA&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Samarqand viloyat&lt;/h4&gt;&lt;p&gt;Sirliboyev Voxid Xayrullayevich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +99897 922 09 30&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998662321493, +998662322507&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M470.0,327.1 L469.3,329.7 L468.5,337.5 L467.3,337.8 L457.2,335.7 L455.0,335.7 L453.9,338.1 L447.9,337.9 L447.8,334.8 L446.8,332.5 L439.0,331.5 L436.5,332.8 L434.8,335.3 L431.7,336.7 L426.5,333.8 L419.5,335.5 L414.1,338.4 L409.8,337.8 L408.9,333.7 L404.3,330.0 L402.3,326.2 L399.5,326.4 L399.4,328.3 L396.9,330.1 L379.1,330.2 L376.2,323.9 L377.5,318.9 L376.1,314.5 L373.4,311.5 L373.9,310.1 L378.4,309.1 L379.5,306.9 L382.7,308.0 L386.0,307.7 L387.7,301.5 L386.6,300.5 L388.3,295.0 L389.4,294.7 L394.6,296.5 L396.4,298.6 L404.1,301.2 L413.0,299.0 L416.6,295.3 L413.9,294.1 L416.9,286.3 L416.0,278.7 L417.6,276.2 L416.8,272.7 L419.4,268.7 L423.0,270.3 L429.5,267.7 L432.4,270.7 L433.8,274.3 L444.6,274.8 L445.7,277.7 L445.1,280.3 L446.4,287.1 L447.9,288.1 L449.2,290.9 L447.8,293.4 L447.9,296.4 L451.3,296.3 L453.4,300.2 L469.8,302.7 L471.9,308.8 L466.7,311.7 L466.6,316.3 L464.1,316.8 L463.9,321.5 L464.9,323.0 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Qashqadaryo viloyat&quot;,
		&quot;abbreviation&quot;: &quot;QA&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Qashqadaryo viloyat&lt;/h4&gt;&lt;p&gt;G&#039;aniyev Bexruz Ixtiyor o&#039;g&#039;li&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998902888788&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M467.3,337.8 L467.1,341.6 L468.4,342.7 L473.5,344.2 L476.9,344.2 L481.2,347.1 L481.3,352.6 L475.6,354.3 L474.8,356.1 L476.8,361.6 L477.1,365.4 L476.0,369.2 L472.1,367.7 L470.1,369.1 L467.8,374.1 L464.0,376.7 L460.6,381.6 L459.7,386.9 L454.6,391.5 L450.3,393.4 L447.7,398.9 L442.7,404.0 L441.2,409.5 L439.9,410.4 L439.4,408.9 L436.3,407.3 L431.4,407.0 L425.7,404.8 L422.3,401.2 L418.1,399.9 L414.2,397.3 L411.4,397.0 L407.0,395.0 L404.4,395.5 L401.3,397.8 L398.4,398.2 L395.5,397.3 L378.3,386.3 L368.5,377.8 L365.6,376.1 L359.4,374.0 L353.9,371.0 L344.9,363.6 L342.5,360.6 L346.9,355.6 L348.8,354.3 L363.7,348.3 L364.2,347.2 L362.1,344.2 L362.6,342.1 L365.7,338.6 L368.2,337.6 L374.2,331.8 L378.3,330.7 L379.1,330.2 L396.9,330.1 L399.4,328.3 L399.5,326.4 L402.3,326.2 L404.3,330.0 L408.9,333.7 L409.8,337.8 L414.1,338.4 L419.5,335.5 L426.5,333.8 L431.7,336.7 L434.8,335.3 L436.5,332.8 L439.0,331.5 L446.8,332.5 L447.8,334.8 L447.9,337.9 L453.9,338.1 L455.0,335.7 L457.2,335.7 Z&quot;
	},
	{
		&quot;enable&quot;: true,
		&quot;name&quot;: &quot;Surxondaryo viloyat&quot;,
		&quot;abbreviation&quot;: &quot;SU&quot;,
		&quot;textX&quot;: 0,
		&quot;textY&quot;: 0,
		&quot;color&quot;: &quot;#a6b8d2&quot;,
		&quot;hoverColor&quot;: &quot;#55a8fd&quot;,
		&quot;selectedColor&quot;: &quot;#43a0ff&quot;,
		&quot;text&quot;: &quot;&lt;h4&gt;Surxondaryo viloyat&lt;/h4&gt;&lt;p&gt;Karimov Yoqubjon Ziyodullayevich&lt;br&gt;&lt;b&gt;Tel:&lt;/b&gt; +998915184420&lt;/p&gt;&quot;,
		&quot;path&quot;: &quot;M439.9,410.4 L441.2,409.5 L442.7,404.0 L447.7,398.9 L450.3,393.4 L454.6,391.5 L459.7,386.9 L460.6,381.6 L464.0,376.7 L467.8,374.1 L470.1,369.1 L472.1,367.7 L476.0,369.2 L477.1,365.4 L476.8,361.6 L474.8,356.1 L475.6,354.3 L481.3,352.6 L482.0,353.3 L488.6,353.8 L492.9,352.1 L495.9,353.1 L498.6,352.2 L502.2,357.7 L502.7,360.0 L500.6,362.7 L498.4,363.3 L499.0,366.0 L497.5,368.6 L498.4,371.5 L498.7,376.9 L500.2,379.1 L500.8,382.4 L504.8,387.4 L511.3,392.0 L512.8,395.7 L511.4,401.9 L508.7,408.1 L503.4,410.5 L501.9,416.1 L497.9,423.2 L493.6,428.4 L492.0,431.7 L490.9,437.3 L492.2,443.8 L490.8,450.1 L490.0,448.4 L484.3,446.9 L480.6,448.3 L479.6,446.1 L477.7,445.9 L474.0,449.2 L469.3,451.1 L467.4,451.0 L466.0,448.3 L462.3,446.4 L461.0,443.3 L457.0,441.1 L451.0,442.2 L445.4,442.7 L443.7,443.8 L439.1,442.7 L436.2,443.0 L435.1,441.2 L437.1,438.3 L434.7,434.5 L435.6,429.0 L435.3,420.5 L440.4,411.5 Z&quot;
	}
]
}">
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="block media-link">
					<h2 class="name">Foydali saytlar</h2>
					<div class="body">
						<div class="row"><a class="col-xs-6" href="https://www.gov.uz/" target="_blank"><img
									src="https://dtm.uz/upload/file/menu/sites/link.jpg"
									alt="media"><br><span>O`zbekiston
									Respublikasi hukumat portali</span></a><a class="col-xs-6" href="https://my.gov.uz/"
								target="_blank"><img src="https://dtm.uz/upload/file/menu/sites/link1.png"
									alt="media"><br><span>Yagona interaktiv
									davlat xizmatlari portali</span></a><a class="col-xs-6"
								href="http://strategy.gov.uz/uz" target="_blank"><img
									src="https://dtm.uz/upload/file/menu/sites/link3.png"
									alt="media"><br><span>Harakatlar
									strategiyasi</span></a><a class="col-xs-6" href="https://data.gov.uz/uz"
								target="_blank"><img src="https://dtm.uz/upload/file/menu/sites/link4.png"
									alt="media"><br><span>O'zbekiston Respublikasi ochiq ma'lumotlar
									portali</span></a><a class="col-xs-6" href="https://id.gov.uz/" target="_blank"><img
									src="https://dtm.uz/upload/file/menu/sites/link6.png"
									alt="media"><br><span>Identifikatsiyalashning Yagona Tizimi</span></a><a
								class="col-xs-6" href="/page/chet_tili" target="_blank"><img
									src="https://dtm.uz/upload/file/menu/sites/logo_dtm_nsfla.png"
									alt="media"><br><span>Chet
									tilini bilish va egallash darajasini baholash boshqarmasi</span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container stat-subs">
		<div class="row">
			<div class="col-sm-8">
				<div class="block statistics">
					<h2 class="name">Murojaat va takliflar</h2>
					<div class="body">
						<div class="row">
							<div class="col-sm-8">
								<div class="row">
									<div class="col-sm-3">
										<p class="text-center">
											<strong class="counter-value" data-count="3156">0</strong>
											<br>Barcha</p>
									</div>
									<div class="col-sm-3">
										<p class="text-center">
											<strong class="counter-value" data-count="1763">0</strong>
											<br>Jismoniy shaxslar</p>
									</div>
									<div class="col-sm-3">
										<p class="text-center">
											<strong class="counter-value" data-count="3">0</strong>
											<br>Yuridik shaxslar
										</p>
									</div>
									<div class="col-sm-3">
										<p class="text-center">
											<strong class="counter-value" data-count="1298">0</strong>
											<br>Virtual qabulxona
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<p class="text-center">
									<strong class="counter-value" data-count="92">0</strong>
									<br>Xolis fuqaro
								</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 text-center">
								<small><b>24.09.2020</b> vaqt holatiga</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 noprint">
				<div class="block subscription">
					<h2 class="name">Yangiliklarga obuna bo‘lish</h2>
					<div class="body">
						<form action="/site/subscription" method="POST">
							<input type="hidden" name="_csrf-frontend"
								value="nMq4Q5i01dqJrai1AZqFEew3IlEmogh7loDq6og7Qunfguh16P6isM304-xq9d9w1HFJJkTQbkrx6oKB2gMT3A==">
							<div class="input-group">
								<input type="email" name="email" class="form-control" placeholder="Email">
								<span class="input-group-btn"><button type="submit"
										class="btn btn-default">Yuborish</button></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- //content -->