<!-- footer -->

<footer>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <ul class="menu list-unstyled">
                        <li><a href="/page/sitemap">Sayt xaritasi</a></li>
                        <li><a href="/page/questionnaire">Faoliyatni baholash</a></li>
                        <li><a href="/page/state_symbols">Davlat ramzlari</a></li>
                        <li><a href="/page/contact">Qayta aloqa</a></li>
                        <li><a href="/page/terms_of_use">Foydalanish shartlari</a></li>
                        <li><a href="/page/iso9001">ISO 9001 siyosati</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-5">
                    <ul class="social list-unstyled">
                        <li><a href="https://www.youtube.com/channel/UCKpI-VH4ckfHvFgcpGbyPTw" target="_blank"><i
                                    class="fa fa-youtube-square"></i></a></li>
                        <li><a href="https://instagram.com/dtm.uzbekistan/" target="_blank"><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/dtm.uzbekistan/" target="_blank"><i
                                    class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://t.me/rasmiydtm" target="_blank"><i class="fa fa-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <p>Copyright © 2019 DTM. <a href="/">www.dtm.uz</a></p>
                </div>
                <div class="col-sm-2">
                    <!-- START WWW.UZ TOP-RATING -->
                    <SCRIPT language="javascript" type="text/javascript">
                        top_js = "1.0";
                        top_r = "id=16080&r=" + escape(document.referrer) + "&pg=" + escape(window.location.href);
                        document.cookie = "smart_top=1; path=/";
                        top_r += "&c=" + (document.cookie ? "Y" : "N")
                    </SCRIPT>
                    <SCRIPT language="javascript1.1" type="text/javascript">
                        top_js = "1.1";
                        top_r += "&j=" + (navigator.javaEnabled() ? "Y" : "N")
                    </SCRIPT>
                    <SCRIPT language="javascript1.2" type="text/javascript">
                        top_js = "1.2";
                        top_r += "&wh=" + screen.width + 'x' + screen.height + "&px=" +
                            (((navigator.appName.substring(0, 3) == "Mic")) ? screen.colorDepth : screen.pixelDepth)
                    </SCRIPT>
                    <SCRIPT language="javascript1.3" type="text/javascript">
                        top_js = "1.3";
                    </SCRIPT>
                    <SCRIPT language="JavaScript" type="text/javascript">
                        top_rat = "&col=0063AF&t=ffffff&p=E6850F";
                        top_r += "&js=" + top_js + "";
                        document.write('<a href="https://www.uz/rus/toprating/cmd/stat/id/16080" target=_top><img src="https://www.uz/plugins/top_rating/count/cnt.png?' +
                            top_r + top_rat + '" width=88 height=31 border=0 alt="Топ рейтинг www.uz"></a>')
                    </SCRIPT>
                    <NOSCRIPT>
                        <A href="https://www.uz/rus/toprating/cmd/stat/id/16080" target=_top>
                            <IMG height=31
                                src="https://www.uz/plugins/top_rating/count/nojs_cnt.png?id=16080&pg=http%3A//dtm.uz&col=0063AF&t=ffffff&p=E6850F"
                                width=88 border=0 alt="Топ рейтинг www.uz" />
                        </A>
                    </NOSCRIPT>
                    <!-- FINISH WWW.UZ TOP-RATING -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->