<!-- header -->

<header>
    <div class="bar">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="language-picker">
                        <li><span>O`zbekcha</span></li>
                        <li><a href="/site/index?language-picker-language=oz-UZ">Ўзбекча</a></li>
                        <li><a href="/site/index?language-picker-language=qr-QR">Qaraqalpaqsha</a></li>
                        <li><a href="/site/index?language-picker-language=ru-RU">Русский</a></li>
                        <li><a href="/site/index?language-picker-language=en-GB">English</a></li>
                        <li><a href="/site/index?language-picker-language=fr-FR">Français</a></li>
                        <li><a href="/site/index?language-picker-language=de-DE">Deutsch</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-4">
                    <ul class="options">
                        <li><a href="/"><i class="fa fa-home"></i></a></li>
                        <li>
                            <button class="btn btn-link" id="printBtn"><i class="glyphicon glyphicon-print"></i>
                            </button>
                        </li>
                        <li class="view-setting">
                            <button class="btn btn-link" id="vsetBtn" type="button"><i class="fa fa-eye"></i></button>
                            <ul class="dropdown-menu" id="vsetMenu">
                                <li>
                                    <button class="btn btn-link default" type="button" id="vsetDefault">
                                        <i class="fa fa-circle"></i>Oddiy </button>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <button class="btn btn-link black-white" type="button" id="vsetBlackWhite">
                                        <i class="fa fa-adjust"></i>Qora va oq </button>
                                </li>
                                <li>
                                    <button class="btn btn-link black-yellow" type="button" id="vsetBlackYellow">
                                        <i class="fa fa-adjust"></i>Qora va sariq </button>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <button class="btn btn-link hide-image" type="button" id="vsetHideImage">
                                        <i class="fa fa-image"></i>Rasmni yashirish </button>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <button class="btn btn-link large-font" type="button" id="vsetLargeFont">
                                        <i class="fa fa-search-plus"></i>Katta shrift </button>
                                </li>
                                <li>
                                    <button class="btn btn-link small-font" type="button" id="vsetSmallFont">
                                        <i class="fa fa-search-minus"></i>Kichik shrift </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="search-form" action="/site/search" method="get">
                        <input type="text" placeholder="Saytdan qidirish" name="text" required pattern=".{3,}"
                            title="kamida 3 ta belgidan iborat">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <a class="logo" href="/"><img src="https://dtm.uz/upload/file/setting/Logo.png"
                            alt="logo"><span>O'zbekiston Respublikasi<br>Vazirlar Mahkamasi Huzuridagi<br>Davlat
                            test markazi</span></a> </div>
                <div class="col-sm-3">
                    <ul class="contact">
                        <li><a href="/page/virtual_reception"><i class="fa fa-pencil-square-o"></i><span>Virtual
                                    qabulxona</span></a></li>
                        <li><a href="https://corp.uz/webmail/" target="_blank"><i
                                    class="fa fa-envelope"></i><span>Pochta xizmati</span></a></li>
                        <li>
                            <a href="tel:1195"><i class="fa fa-phone"></i><span><small>Ishonch
                                        telefoni:</small><br>1195</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Markaz
                                    haqida</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/page/history">Markaz tarixi</a></li>
                                    <li><a href="/page/management">Rahbariyat</a></li>
                                    <li><a href="/page/central_apparat">Markaziy apparat</a></li>
                                    <li><a href="/page/structure">Tashkiliy tuzilmasi</a></li>
                                    <li><a href="/page/representatives">Hududiy bo‘limlar</a></li>
                                    <li><a href="/page/jury">Markaz hay’ati</a></li>
                                    <li><a href="/page/scientific_methodical_council">Ilmiy-metodik kengash</a></li>
                            </li>
                        </ul>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Axborot
                                xizmati</a>
                            <ul class="dropdown-menu">
                                <li><a href="/page/reports">Ma’ruza, nutq, bayonot va press-relizlar</a></li>
                                <li><a href="/page/events">Tadbirlar</a></li>
                                <li><a href="/page/meetings">Ochiq majlislar</a></li>
                                <li><a href="/page/state_programs">Davlat dasturlari</a></li>
                                <li><a href="/page/sayyor_qabul">Sayyor qabul</a></li>
                                <li><a href="/page/xalqaro_hamkorlik">Xalqaro hamkorlik</a></li>
                                <li><a href="/page/yoshlar_siyosati">Yoshlar siyosati</a></li>
                        </li>
                        </ul>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Faoliyat</a>
                            <ul class="dropdown-menu">
                                <li><a href="/page/e_government">"Elektron hukumat" tizimi</a></li>
                                <li><a href="/page/international_relation">Xalqaro aloqalar</a></li>
                                <li><a href="/page/iso9001">ISO 9001 siyosati</a></li>
                                <li><a href="/page/public_services">Davlat xizmatlari reestri</a></li>
                                <li><a href="/page/anti_corruption">Korrupsiyaga qarshi kurash</a></li>
                                <li><a href="/page/public_information">Ochiq ma’lumotlar to‘plamlari</a></li>
                                <li><a href="/page/relationships">Davlat organlari bilan o‘zaro munosabatlar</a>
                                </li>
                                <li><a href="/page/activity_information">Faoliyat to‘g‘risidagi axborot</a></li>
                                <li><a href="/page/appeal">Apellyatsiya shikoyati berish tartibi</a></li>
                                <li><a href="/page/state_procurement">Davlat xaridlari</a></li>
                                <li><a href="/page/table_appeals">Murojaatlarni ko‘rib chiqish jadvali</a></li>
                                <li><a href="/page/reception">Xolis fuqaro</a></li>
                        </li>
                        </ul>
                        <li><a href="/post/category/news">Yangiliklar</a></li>
                        <li><a href="/page/normative_document">Hujjatlar</a></li>
                        <li><a href="/page/contact">Bog‘lanish</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- //header -->